CI_ENVIRONMENT = development

database.default.hostname = localhost

database.default.database = NOMBRE_BASE_DATOS

database.default.username = NOMBRE_USUARIO_DB

database.default.password = CONTRASEÑA_DB

database.default.DBDriver = MySQLi

database.default.DBPrefix =

database.default.port = 3306