CI_ENVIRONMENT = development

database.default.hostname = localhost

database.default.database = NOMBRE_BASE_DATOS

database.default.username = NOMBRE_USUARIO_DB

database.default.password = CONTRASEÑA_DB

database.default.DBDriver = MySQLi

database.default.DBPrefix =

database.default.port = 3306

#--------------------------------------------------------------------
# EMAIL (SMTP) CONFIGURATION
#--------------------------------------------------------------------

email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPUser = TU_CORREO@gmail.com
email.SMTPPass = TU_CONTRASEÑA_DE_APLICACIÓN
email.SMTPPort = 587
email.SMTPCrypto = tls
email.mailType = html
email.charset = UTF-8
email.fromEmail = TU_CORREO@gmail.com
email.fromName = Quelac