@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Zen+Kaku+Gothic+Antique&display=swap");

:root {
  --primary-color: #cf172e;
}
body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.card-hover-scale:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
@media (max-width: 576px) {
  .card-img {
    min-height: 320px;
    object-fit: cover;
  }
  .card-img-overlay {
    padding: 1rem !important;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-title,
  .card-text {
    font-size: 1rem;
    word-break: break-word;
  }
  .card-title {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 992px) {
  .card-img {
    max-height: 400px;
    object-fit: cover;
  }
}
